.banner {
    background-color:Magenta;
    width:auto;
    width:100%;
    height:200px;
    margin-bottom:80px;
    margin-right:50px;
    position:relative;
    align-items:center;
    justify-content:center;
}
.banner-text {
    top:50%;
    left:50%
    position:absolute;
    transform:transform;
    text-align:center;
}
